# Entorno y credenciales
.env

# Entornos virtuales de Python
venv/
.venv/
env/
ENV/
bin/
lib/
include/
pip-selfcheck.json

# Archivos de caché y compilación de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini
